.footer {
    padding: 100px 245px 0 245px;
    background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), 
                      url('../../../app/assets/img/logos/harta.png');
    background-color: #2d3237;
        h1 {
            text-align: center;
            color: $color-white;
            font-size: 48px;
            @media (max-width: 1200px){
                font-size: 30px;
            }
        }
    .getintouch {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .mart {
            width: 980px;
            margin-right: 20px;
            h2 {
                font-weight: 100;
                color: $color-white;
                font-size: 72px;
                margin-bottom: 30px;
                font-family: $roboto;
                span {
                    color: $primary-color;
                }
            }
            h4, p {
                font-weight: 100;
                margin-bottom: 25px;
                color: $color-white;
                font-family: $roboto;
            }
            h6 {
                font-weight: 100;
                font-size: 14px;
                margin: 0px;
                margin-top: 0;
                color: $color-white;
                font-family: $roboto;
                &:last-of-type {
                    margin-bottom: 20px;
                }
                span {
                    color: $primary-color; 
                }
            }
            .social-media {
                button {
                    margin-right: 10px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                    border: 1px solid $color-white;
                    background: transparent;
                    color: $color-white;
                    margin-bottom: 100px;
                    height: 30px;
                    width: 30px;
                    &:hover {
                        background-color: $primary-color;
                        transition: background 0.5s;
                    }   
                }
            }
            @media (max-width: 1500px){
                width: 100%;
               h2 {
                    font-size: 40px;
               }
            }
        }
        .contact-us {
            form {
                margin-top: 80px;
                input, .textarea textarea {
                    &:focus {
                        color: $primary-color;
                        border: 1px solid $primary-color;
                        outline: $primary-color;
                    }
                }
                input {
                    background-color: transparent;
                    color: $color-white;
                    height: 50px;
                    margin-bottom: 30px;
                    margin-right: 30px;
                    font-size: 18px;
                    padding: 10px 20px;
                    border: 1px solid $color-white;
                    @media (max-width: 1500px){
                        width: 100%;
                    }
                }
                .textarea {
                    margin-bottom: 30px;
                    textarea {
                        background-color: transparent;
                        color: $color-white;
                        height: 113px;
                        width: 595px;
                        padding: 10px 20px;
                        @media (max-width: 1500px){
                            width: 100%;
                        }
                    }
                }
                .send {
                    input {
                        background-color: $primary-color;
                        font-size: 12px;
                        height: 50px;
                        width: 150px;
                        border: none;
                    }
                }
                @media (max-width: 1500px){
                    margin-top: 0;
                }
            }
        }
        @media (max-width: 1500px){
            padding-left: 0px;
            padding-right: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .rectangle {
        height: 80px;
        background-color: #000;
        margin-right: -245px;
        margin-left: -245px;
        display: flex;
        flex-direction: row;
        justify-content: center;
            h6 {
                font-weight: 100;
                color: $color-white;
                font-size: 16px;
                margin-top: 30px;
            }
            span {
                color: $primary-color;
            }
            @media (max-width: 1500px){
                padding-left: 30px;
                padding-right: 30px;
                margin-right: -30px;
                margin-left: -30px;
            }
    }
    @media (max-width: 1500px){
        padding-left: 30px;
        padding-right: 30px;
    }
}
