.header {
  .pre-nav {
    background-color: $primary-color;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 245px 0 245px;

    .info {
      display: flex;
      flex-direction: row;
      align-items: center;
        img {
          height: 18px;
          margin-right: 5px;
          
          &:last-of-type {
            height: 15px;
            margin-right: 10px;
          }
        }

        p {
          font-size: 15px;
          color: $color-white;
          &:first-of-type {
            margin-right: 33px;
          }
        }
    }

    .nav {
      display: flex;
      align-items: center; 
     
      ul {
        padding-left: 0px;

        li {
          list-style-type: none;
          float: left;
          color: $color-white;
          font-size: 14px;
          margin-right: 30px;
          &:last-child {
            margin-right: 0px;
          }
          a {
            text-decoration: none;
            color: $color-white;
          }
        }
      }
    }
    @media (max-width: 1230px){
      padding-left: 0;
      padding-right: 0;
      flex-direction: column;
      align-items: center;
      .nav {
        ul li {
          float: none;
          margin-bottom: 10px;
        }
      }
    }
  }
  .logo {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
    max-height: 101px;
    overflow: hidden;
    padding: 0 245px 0 245px;
    background-color: $color-white;
    p {
      font-size: 30px;
      color: #656262;
      strong {
        color: $primary-color;
      }
    }
    .navigation {
      display: flex;
      align-items: center;
      a {
        font-size: 14px;
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        color: #0f0101;
        text-decoration: none;
        margin-right: 35px;
        &.active {
          color: $primary-color;
        }
        &:hover {
          color: $primary-color;
        }
        &:last-of-type {
          margin-right: 0px;
        }
      }
    }
    .img {
      display: flex;
      align-items: center;
      flex-direction: row;
      p {
        margin-left: 8px;
        font-size: 15px;
        margin-right: 10px;
      }
      img:last-of-type {
        height: 30px;
        margin-bottom: 7px;
      }
    }
    .bar-btn{
      display: none;
    }
    @media (max-width: 1230px){ 
      padding-left: 0;
      padding-right: 0;
      flex-direction: column;
      align-items: center;
    }
    @media (max-width: 570px){
      .bar-btn{
        display: block;
        background-color: $primary-color;
        border: none;
        padding: 5px 10px;
        position: absolute;
        right: 30px;
        top: 37px;
      }

      .navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        a {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }

      .navigation, .img {
        visibility: hidden;
      }

    }
  }
}


