.home-page {
    .photo-slider {
        background-image: linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)), 
                          url("../../../app/assets/img/img-slider.jpg");
        height: 600px;
        background-position: center center;
        background-size: cover;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .slick-next, .slick-prev {
        height: 90px;
        width: 90px;
        background-color: $primary-color;
        z-index: 1;
        opacity: 0.65;
        transition: all 0.5s;
        &:before {
            content: '';
        }
        &:hover {
            opacity: 1;
        }
        @media (max-width: 1230px){
            background-color: transparent;
        }
        @media (max-width: 570px){
            display: none !important;
        }
    }
    .slick-next {
        right: 0px;
    }
    .slick-prev {
        left: 0px;
    }
    h1 {
        text-align: center;
        font-size: 48px;
        color: $color-white;
        font-weight: 100;
        font-family: $roboto;
        span {
            color: $primary-color;
            font-weight: 700;
        }
        @media (max-width: 1230px){
            font-size: 20px;
        }
    }
    .strong {
        font-family: $open-sans;
        span {
            font-weight: 100;
        }
    }
    .details {
        display: grid;
        grid-gap: 35px;
        grid-template-columns: 248px 248px 248px 248px;
        padding-top: 95px;
        padding-bottom: 80px;
        justify-content: center;
        .information {
            font-weight: 100;
            text-align: center;
            .info {
                color: $primary-color;
            }
            img {
                height: 60px;
                margin-block-end: 60px;
            }
            h3 {
                margin-top: 0;
                font-weight: 100;
                font-size: 18px;
                font-family: $open-sans;
                margin-bottom: 30px;
            }
            p {
                font-size: 14px;
                font-family: $open-sans;
            }
        }
        @media (max-width: 1230px){
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            padding-right: 30px;
            padding-left: 30px;
        }
    }
    .new-collection {
        background-color: $hawkes-blue;
        padding: 100px 245px;
        h1 {
            font-size: 48px;
            font-family: $roboto;
            color: $secondary-color;
            font-weight: 900;
            margin: 0px;
            line-height: 0.8;
        @media (max-width: 570px){
            font-size: 30px;
        }
        }
        @media (max-width: 1230px){
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 0;
        }
    }
    .featured {
        background-color: $color-white;
        padding: 100px 0px 95px 0px;
        h1 {
            font-size: 48px;
            font-family: $roboto;
            color: $secondary-color;
            font-weight: 900;
            margin: 0px;
            line-height: 0.8;
            font-weight: bold;
            @media (max-width: 570px){
                font-size: 30px;
            }
        }
        .wrapper-btns {
            display: flex;
            justify-content: center;
            flex-direction: row;
            button {
                font-weight: 100;
                position: relative;
                background-color: $color-white;
                border: none;
                border: 1px solid $font-color;
                border-radius: 3px;
                height: 30px;
                margin-right: 13px;
                padding: 6px 10px;
                transition: all 0.5s;
                @media (max-width: 580px){
                    flex-direction: column;
                    margin: 0 50px 0 50px;
                    margin-bottom: 20px;
                    margin-right: 0;
                }
                &:focus{
                    outline: none;
                }
                &:hover {
                    opacity: 1;
                    background-color: $primary-color;
                    color: $color-white;
                }
                &:last-child {
                    margin-right: 0px;
                }
                .bubble {
                    background-color: $color-white;
                    top: -34px;
                    right: -8px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    color: $primary-color;
                    border-radius: 50%;
                    border: 1px solid $black;
                    height: 40px;
                    width: 40px;
                }
            }
            @media (max-width: 580px){
                flex-direction: column;
                margin-bottom: 20px;
                padding: 0;
                margin-right: 50px;
            }
        }
        .shopping-boxes {
            .collection {
                height: 280px;
                width: 255px;
                background-color: $hawkes-blue;
                background-size: contain;
                background-repeat: no-repeat;
                background-size: auto;
                @media (max-width: 1500px){
                    width: auto;
                }
            }
            .dolar {
                width: 20%;
                text-align: center;
                background-color: #8c8c8c;
                line-height: 34px;
            }
            @media (max-width: 1230px){
                display: grid;
                padding-left: 30px;
                padding-bottom: 0;
            }
        }
    }
    .end-of-season {
        background-image:  linear-gradient(0deg,rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
                           url('../../../app/assets/img/escalador.jpg');
        height: 400px;
        padding: 170px 340px;
        h4 {
            line-height: 0.8;
            font-size: 60px;
            font-family: $open-sans;
            color: $color-white;
            text-align: center;
            margin: 0px;
        }
        h5 {
            line-height: 0.8;
            margin-bottom: 0px;
            margin-top: 20px;
            font-size: 35px;
            font-family: $open-sans;
            color: $color-white;
            text-align: center;
            font-weight: 100;
        }
        @media (max-width: 1200px){
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h4 {
                font-size: 30px;
            }
            h5 {
                font-size: 20px;
            }
        }
    }
    .customer {
        background-color: $color-white;
        padding: 100px 200px 80px 200px;
        h1 {
            line-height: 0.8;
            margin-top: 0px;
            font-size: 48px;
            font-family: $roboto;
            color: $secondary-color;
            font-weight: 900;
        }
        .avatar {
            background-image: url("../../../app/assets/img/round-woumen.jpg");
            border-radius: 50%;
            margin-bottom: 30px;
            height: 220px;
            width: 220px;
            margin: auto;
        }
        p {
            font-weight: 100;
            font-size: 14px;
            text-align: center;
            margin-top: 30px;
        }
        h3 {
            font-weight: 100;
            text-align: center;
            font-size: 14px;
            margin-bottom: 30px;
            color: $color-grey;
            span {
                font-size: 18px;
                color: $primary-color;
            }
        }
        .round-img-wrapper {
            display: flex;
            justify-content: center;
            flex-direction: row;
            .round {
                border-radius: 50%;
                height: 75px;
                width: 75px;
                border: 3px solid $black;
                background-position: center 20%;
                transition: all 0.5s;
                &:hover {
                    opacity: 1;
                    border-color: $primary-color;
                }
                &:first-child {
                    background-image: url("../../../app/assets/img/round-men-1.jpg");
                    margin-right: 20px;
                }
                &:nth-child(2) {
                    background-image: url("../../../app/assets/img/round-woumen-2.jpg");
                    margin-right: 20px;
                }
                &:nth-child(3) {
                    background-image: url("../../../app/assets/img/round-men-3.jpg");
                }
            }
        }
        @media (max-width: 1200px){
            padding-right: 30px;
            padding-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                font-size: 30px;
            }
            .avatar {
                height: 75px;
                width: 75px;
                background-size: contain;
                background-position: center center;
            }
        }
    }
    .newsletter {
        background-color: $primary-color;
        background-image: url('../../../app/assets/img/newsletter.png');
        padding: 100px 0px 130px 0px;
        h1 {
            font-size: 48px;
            font-family: $roboto;
            color: $secondary-color;
            font-weight: 900;
            margin-bottom: 25px; 
            margin-top: 0px;
        }
        p {
            font-weight: 100;
            font-size: 16px;
            color: $color-white;
            text-align: center;
            margin: 0;
            margin-bottom: 40px;
            font-family: $roboto;
        }
        .news {
            display: flex;
            justify-content: center;
            flex-direction: row;
            input {
                padding: 20px 30px;
                border-radius: 5px;
                border: none;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            .btn-arrow {
                border: 2px solid $color-white;
                line-height: 0.7;
                padding: 15px 25px;
                border-radius: 5px;
                background-color: $primary-color;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }
            img {
                height: 25px;
            }
        }
        @media (max-width: 1200px){
            .news {
                padding-right: 0;
                padding-left: 0;
                input {
                    width: 100%;
                }
                .btn-arrow {
                    width: 80px;
                }
            }
            padding-right: 20px;
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                font-size: 30px;
            }
        }
    }
    .partner {
        padding: 100px 0 80px 0;
        background-color: $hawkes-blue;
        h1 {
            line-height: 0.8;
            text-align: center;
            font-size: 48px;
            font-family: $roboto;
            color: $secondary-color;
            font-weight: 900;
            margin-bottom: 28px;
            margin-top: 0;
        }
        .slick-slide {
            margin: 0 27px;
        }
        .slick-list {
            margin: 0 -27px;
        }
        .logos {  
            .slick-next, .slick-prev {
                height: 90px;
                width: 90px;
                background-color: $primary-color;
                z-index: 1;
                opacity: 0.65;
                transition: all 0.5s;
                height: 179px;
                width: 70px;
                @media (max-width: 1230px){
                    background-color: transparent;
                }
                @media (max-width: 570px){
                    display: none !important;
                }
                &:before {
                    content: '';
                }
                &:hover {
                    opacity: 1;
                }
            }
            .slick-next {
                right: 0px;
            }
            .slick-prev {
                left: 0px;
            }
            padding-right: 220px;
            padding-left: 220px;
            @media (max-width: 570px){
                padding-left: 30px;
                padding-right: 30px;
            }
            img {
                border: 1px solid $primary-color;
                max-height: 180px; 
            }
        }
        @media (max-width: 1200px){
            padding-right: 30px;
            padding-left: 30px;
            h1 {
                font-size: 30px;
            }
            img {
                min-height: 78px;
            }
        }
    }
    .latest-news {
        background-color: $color-white;
        padding: 80px 245px 80px 245px;
        h1 {
            line-height: 0.8;
            margin-top: 0;
            text-align: center;
            font-size: 48px;
            font-family: $roboto;
            color: $black;
            font-weight: 900;
        }
        .news {
            display: flex;
            flex-direction: row;
            justify-content: center;
            .read-more {
                width: 350px;
                margin-right: 30px;
                &:last-of-type {
                    margin-right: 0px;
                }
                p {
                    font-weight: 100;
                    font-size: 16px;
                    color: $color-grey;
                }   
                .line {
                    width: 140px;
                    border: 2px solid $primary-color;
                    margin-left: 0;
                }
                .btn-read {
                    font-weight: 100;
                    width: 160px;
                    border-radius: 3px;
                    background-color: $primary-color;
                    color: $color-white;
                    border: none;
                    height: 50px;
                }
                .img {
                    width: 350px;
                    height: 260px;
                    background-size: cover;
                    background-position: center center;
                    &.img1 {
                        background-image: url('../../../app/assets/img/logos/blog1.jpg');
                    }
                    &.img2 {
                        background-image: url('../../../app/assets/img/logos/blog2.jpg');
                    }
                    &.img3 {
                        background-image: url('../../../app/assets/img/logos/blog3.jpg');
                    }
                }
            }
        }
        @media (max-width: 1140px){
            padding-right: 30px;
            padding-left: 30px;
            .news {
                .read-more{
                    display: grid;
                    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
                    margin-bottom: 50px;
                }
                flex-direction: column;
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            }
            h1 {
                font-size: 30px;
            }
        }
        @media (max-width: 570px) {
            .news .read-more{
                .img{
                    width: 100%;
                }
                width: 100%;
            }
        }
    }
}
