.transparent-btn {
    background-color: transparent;
    border: 2px solid $primary-color;
    color: $color-white;
    font-size: 14px;
    font-family: $roboto;
    padding: 14px 28px;
    line-height: 0.8;
}

.cart-buttons-wrapper {
    opacity: 0;
    background: rgba(0,0,0, 0.6);
    transition: all 0.5s;
    height: 266px;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover {
        opacity: 1;
    }
    .add {
        color: $color-white;
        background-color: $secondary-color;
        height: 50px;
        font-size: 14px;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding-right: 14px;
        padding-left: 10px;
        width: 166px;
        border: 1px solid $color-white;
        img {
            margin-right: 10px;
            height: 25px;
        }
    }
    .cart-buttons-grup {
            display: flex;
            flex-direction: row;    
            justify-content: center;
        button {
            background-color: transparent;
            border: 1px solid $color-white;
            height: 50px;
            width: 50px;
            margin-bottom: 5px;
            margin-right: 8px;
            transition: background 0.5s;
            &:last-of-type {
                margin-right: 0px;
            }
            &:hover {
                background-color: $primary-color;
            }
        }
    }
}
