* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1, h3, p {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

.separator {
  color: $primary-color;
  border: 7px solid $primary-color;
  width: 165px;
  margin-top: 29px;
  margin-bottom: 80px;
  position: relative;
  &:before {
      content: "";
      position: absolute;
      left: -7px;
      right: -7px;
      top: -11px;
      height: 2px;
      border-top: 2px solid $primary-color;
  }
  &:after {
      content: "";
      position: absolute;
      left: -7px;
      right: -7px;
      bottom: -11px;
      border-top: 2px solid $primary-color;
  }
  &.white {
    border-color: $color-white;
    &::before, &::after{
      border-color: $color-white;
    }
  }
}

.shopping-boxes {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: auto auto auto auto;
  padding: 100px 245px;
  padding-top: 0px;
  justify-content: center;
  margin-top: 107px;
  .collection {
      height: 325px;
      min-width: 255px;
      background-position: center center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      .price {
          display: flex;
          flex-direction: row;
          height: 40px;
          background-color: $black;
          align-items: center;
      }
      .img {
          margin-bottom: 0px;
      }
      p {
          font-family: $roboto;
          font-size: 18px;
          color: $color-white;
          width: 80%;
          margin-left: 15px;
          &:last-of-type {
              width: 20%;
              text-align: center;
              background-color: $grey;
              line-height: 40px;
          }
      }
      span {
        color: $color-grey;
      }
      .tags {
        width: 100%;
        top: 10px;
        position: absolute;
        span {
        border: 1px solid $black;
        padding: 2px 9px;
        &:first-of-type {
          margin-left: 10px;
          float: left;
        }
        &:last-of-type {
          float: right;
          margin-right: 10px;
        }
        }
      }
  }
  @media (max-width: 1200px){ 
    margin-top: 0;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    padding-right: 30px;
    padding-left: 30px;;
  }
}

