$primary-color: #1abc9c;
$secondary-color: #323232;

$hawkes-blue: #e9f0fd;
$color-white: #fff;
$black: #323232;
$grey: #8c8c8c;
$font-color:#737373;
$color-grey: #515151;

//fonts
$roboto: 'Roboto', sans-serif;
$open-sans: 'Open Sans', sans-serif;