@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg"); }

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: '←'; }

[dir='rtl'] .slick-prev:before {
  content: '→'; }

.slick-next {
  right: -25px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: '→'; }

[dir='rtl'] .slick-next:before {
  content: '←'; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

h1, h3, p {
  font-family: 'Open Sans', sans-serif; }

h2 {
  font-family: 'Roboto', sans-serif; }

button {
  cursor: pointer; }

.separator {
  color: #1abc9c;
  border: 7px solid #1abc9c;
  width: 165px;
  margin-top: 29px;
  margin-bottom: 80px;
  position: relative; }
  .separator:before {
    content: "";
    position: absolute;
    left: -7px;
    right: -7px;
    top: -11px;
    height: 2px;
    border-top: 2px solid #1abc9c; }
  .separator:after {
    content: "";
    position: absolute;
    left: -7px;
    right: -7px;
    bottom: -11px;
    border-top: 2px solid #1abc9c; }
  .separator.white {
    border-color: #fff; }
    .separator.white::before, .separator.white::after {
      border-color: #fff; }

.shopping-boxes {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  padding: 100px 245px;
  padding-top: 0px;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 107px; }
  .shopping-boxes .collection {
    height: 325px;
    min-width: 255px;
    background-position: center center;
    background-size: cover;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: end;
        justify-content: flex-end;
    position: relative; }
    .shopping-boxes .collection .price {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      height: 40px;
      background-color: #323232;
      -ms-flex-align: center;
          align-items: center; }
    .shopping-boxes .collection .img {
      margin-bottom: 0px; }
    .shopping-boxes .collection p {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      color: #fff;
      width: 80%;
      margin-left: 15px; }
      .shopping-boxes .collection p:last-of-type {
        width: 20%;
        text-align: center;
        background-color: #8c8c8c;
        line-height: 40px; }
    .shopping-boxes .collection span {
      color: #515151; }
    .shopping-boxes .collection .tags {
      width: 100%;
      top: 10px;
      position: absolute; }
      .shopping-boxes .collection .tags span {
        border: 1px solid #323232;
        padding: 2px 9px; }
        .shopping-boxes .collection .tags span:first-of-type {
          margin-left: 10px;
          float: left; }
        .shopping-boxes .collection .tags span:last-of-type {
          float: right;
          margin-right: 10px; }
  @media (max-width: 1200px) {
    .shopping-boxes {
      margin-top: 0;
      -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      padding-right: 30px;
      padding-left: 30px; } }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

.header .pre-nav {
  background-color: #1abc9c;
  min-height: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0 245px 0 245px; }
  .header .pre-nav .info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-align: center;
        align-items: center; }
    .header .pre-nav .info img {
      height: 18px;
      margin-right: 5px; }
      .header .pre-nav .info img:last-of-type {
        height: 15px;
        margin-right: 10px; }
    .header .pre-nav .info p {
      font-size: 15px;
      color: #fff; }
      .header .pre-nav .info p:first-of-type {
        margin-right: 33px; }
  .header .pre-nav .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .header .pre-nav .nav ul {
      padding-left: 0px; }
      .header .pre-nav .nav ul li {
        list-style-type: none;
        float: left;
        color: #fff;
        font-size: 14px;
        margin-right: 30px; }
        .header .pre-nav .nav ul li:last-child {
          margin-right: 0px; }
        .header .pre-nav .nav ul li a {
          text-decoration: none;
          color: #fff; }
  @media (max-width: 1230px) {
    .header .pre-nav {
      padding-left: 0;
      padding-right: 0;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center; }
      .header .pre-nav .nav ul li {
        float: none;
        margin-bottom: 10px; } }

.header .logo {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 90px;
  max-height: 101px;
  overflow: hidden;
  padding: 0 245px 0 245px;
  background-color: #fff; }
  .header .logo p {
    font-size: 30px;
    color: #656262; }
    .header .logo p strong {
      color: #1abc9c; }
  .header .logo .navigation {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .header .logo .navigation a {
      font-size: 14px;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      color: #0f0101;
      text-decoration: none;
      margin-right: 35px; }
      .header .logo .navigation a.active {
        color: #1abc9c; }
      .header .logo .navigation a:hover {
        color: #1abc9c; }
      .header .logo .navigation a:last-of-type {
        margin-right: 0px; }
  .header .logo .img {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: row;
        flex-direction: row; }
    .header .logo .img p {
      margin-left: 8px;
      font-size: 15px;
      margin-right: 10px; }
    .header .logo .img img:last-of-type {
      height: 30px;
      margin-bottom: 7px; }
  .header .logo .bar-btn {
    display: none; }
  @media (max-width: 1230px) {
    .header .logo {
      padding-left: 0;
      padding-right: 0;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center; } }
  @media (max-width: 570px) {
    .header .logo .bar-btn {
      display: block;
      background-color: #1abc9c;
      border: none;
      padding: 5px 10px;
      position: absolute;
      right: 30px;
      top: 37px; }
    .header .logo .navigation {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: start;
          align-items: flex-start; }
      .header .logo .navigation a {
        margin-right: 0;
        margin-bottom: 10px; }
    .header .logo .navigation, .header .logo .img {
      visibility: hidden; } }

.home-page .photo-slider {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../app/assets/img/img-slider.jpg");
  height: 600px;
  background-position: center center;
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center; }

.home-page .slick-next, .home-page .slick-prev {
  height: 90px;
  width: 90px;
  background-color: #1abc9c;
  z-index: 1;
  opacity: 0.65;
  transition: all 0.5s; }
  .home-page .slick-next:before, .home-page .slick-prev:before {
    content: ''; }
  .home-page .slick-next:hover, .home-page .slick-prev:hover {
    opacity: 1; }
  @media (max-width: 1230px) {
    .home-page .slick-next, .home-page .slick-prev {
      background-color: transparent; } }
  @media (max-width: 570px) {
    .home-page .slick-next, .home-page .slick-prev {
      display: none !important; } }

.home-page .slick-next {
  right: 0px; }

.home-page .slick-prev {
  left: 0px; }

.home-page h1 {
  text-align: center;
  font-size: 48px;
  color: #fff;
  font-weight: 100;
  font-family: "Roboto", sans-serif; }
  .home-page h1 span {
    color: #1abc9c;
    font-weight: 700; }
  @media (max-width: 1230px) {
    .home-page h1 {
      font-size: 20px; } }

.home-page .strong {
  font-family: "Open Sans", sans-serif; }
  .home-page .strong span {
    font-weight: 100; }

.home-page .details {
  display: -ms-grid;
  display: grid;
  grid-gap: 35px;
  -ms-grid-columns: 248px 248px 248px 248px;
      grid-template-columns: 248px 248px 248px 248px;
  padding-top: 95px;
  padding-bottom: 80px;
  -ms-flex-pack: center;
      justify-content: center; }
  .home-page .details .information {
    font-weight: 100;
    text-align: center; }
    .home-page .details .information .info {
      color: #1abc9c; }
    .home-page .details .information img {
      height: 60px;
      -webkit-margin-after: 60px;
              margin-block-end: 60px; }
    .home-page .details .information h3 {
      margin-top: 0;
      font-weight: 100;
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 30px; }
    .home-page .details .information p {
      font-size: 14px;
      font-family: "Open Sans", sans-serif; }
  @media (max-width: 1230px) {
    .home-page .details {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
          grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      padding-right: 30px;
      padding-left: 30px; } }

.home-page .new-collection {
  background-color: #e9f0fd;
  padding: 100px 245px; }
  .home-page .new-collection h1 {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    color: #323232;
    font-weight: 900;
    margin: 0px;
    line-height: 0.8; }
    @media (max-width: 570px) {
      .home-page .new-collection h1 {
        font-size: 30px; } }
  @media (max-width: 1230px) {
    .home-page .new-collection {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 0; } }

.home-page .featured {
  background-color: #fff;
  padding: 100px 0px 95px 0px; }
  .home-page .featured h1 {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    color: #323232;
    font-weight: 900;
    margin: 0px;
    line-height: 0.8;
    font-weight: bold; }
    @media (max-width: 570px) {
      .home-page .featured h1 {
        font-size: 30px; } }
  .home-page .featured .wrapper-btns {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: row;
        flex-direction: row; }
    .home-page .featured .wrapper-btns button {
      font-weight: 100;
      position: relative;
      background-color: #fff;
      border: none;
      border: 1px solid #737373;
      border-radius: 3px;
      height: 30px;
      margin-right: 13px;
      padding: 6px 10px;
      transition: all 0.5s; }
      @media (max-width: 580px) {
        .home-page .featured .wrapper-btns button {
          -ms-flex-direction: column;
              flex-direction: column;
          margin: 0 50px 0 50px;
          margin-bottom: 20px;
          margin-right: 0; } }
      .home-page .featured .wrapper-btns button:focus {
        outline: none; }
      .home-page .featured .wrapper-btns button:hover {
        opacity: 1;
        background-color: #1abc9c;
        color: #fff; }
      .home-page .featured .wrapper-btns button:last-child {
        margin-right: 0px; }
      .home-page .featured .wrapper-btns button .bubble {
        background-color: #fff;
        top: -34px;
        right: -8px;
        position: absolute;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-direction: row;
            flex-direction: row;
        color: #1abc9c;
        border-radius: 50%;
        border: 1px solid #323232;
        height: 40px;
        width: 40px; }
    @media (max-width: 580px) {
      .home-page .featured .wrapper-btns {
        -ms-flex-direction: column;
            flex-direction: column;
        margin-bottom: 20px;
        padding: 0;
        margin-right: 50px; } }
  .home-page .featured .shopping-boxes .collection {
    height: 280px;
    width: 255px;
    background-color: #e9f0fd;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: auto; }
    @media (max-width: 1500px) {
      .home-page .featured .shopping-boxes .collection {
        width: auto; } }
  .home-page .featured .shopping-boxes .dolar {
    width: 20%;
    text-align: center;
    background-color: #8c8c8c;
    line-height: 34px; }
  @media (max-width: 1230px) {
    .home-page .featured .shopping-boxes {
      display: -ms-grid;
      display: grid;
      padding-left: 30px;
      padding-bottom: 0; } }

.home-page .end-of-season {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../app/assets/img/escalador.jpg");
  height: 400px;
  padding: 170px 340px; }
  .home-page .end-of-season h4 {
    line-height: 0.8;
    font-size: 60px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-align: center;
    margin: 0px; }
  .home-page .end-of-season h5 {
    line-height: 0.8;
    margin-bottom: 0px;
    margin-top: 20px;
    font-size: 35px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-align: center;
    font-weight: 100; }
  @media (max-width: 1200px) {
    .home-page .end-of-season {
      padding: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: center;
          justify-content: center; }
      .home-page .end-of-season h4 {
        font-size: 30px; }
      .home-page .end-of-season h5 {
        font-size: 20px; } }

.home-page .customer {
  background-color: #fff;
  padding: 100px 200px 80px 200px; }
  .home-page .customer h1 {
    line-height: 0.8;
    margin-top: 0px;
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    color: #323232;
    font-weight: 900; }
  .home-page .customer .avatar {
    background-image: url("../../../app/assets/img/round-woumen.jpg");
    border-radius: 50%;
    margin-bottom: 30px;
    height: 220px;
    width: 220px;
    margin: auto; }
  .home-page .customer p {
    font-weight: 100;
    font-size: 14px;
    text-align: center;
    margin-top: 30px; }
  .home-page .customer h3 {
    font-weight: 100;
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
    color: #515151; }
    .home-page .customer h3 span {
      font-size: 18px;
      color: #1abc9c; }
  .home-page .customer .round-img-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: row;
        flex-direction: row; }
    .home-page .customer .round-img-wrapper .round {
      border-radius: 50%;
      height: 75px;
      width: 75px;
      border: 3px solid #323232;
      background-position: center 20%;
      transition: all 0.5s; }
      .home-page .customer .round-img-wrapper .round:hover {
        opacity: 1;
        border-color: #1abc9c; }
      .home-page .customer .round-img-wrapper .round:first-child {
        background-image: url("../../../app/assets/img/round-men-1.jpg");
        margin-right: 20px; }
      .home-page .customer .round-img-wrapper .round:nth-child(2) {
        background-image: url("../../../app/assets/img/round-woumen-2.jpg");
        margin-right: 20px; }
      .home-page .customer .round-img-wrapper .round:nth-child(3) {
        background-image: url("../../../app/assets/img/round-men-3.jpg"); }
  @media (max-width: 1200px) {
    .home-page .customer {
      padding-right: 30px;
      padding-left: 30px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: center;
          justify-content: center; }
      .home-page .customer h1 {
        font-size: 30px; }
      .home-page .customer .avatar {
        height: 75px;
        width: 75px;
        background-size: contain;
        background-position: center center; } }

.home-page .newsletter {
  background-color: #1abc9c;
  background-image: url("../../../app/assets/img/newsletter.png");
  padding: 100px 0px 130px 0px; }
  .home-page .newsletter h1 {
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    color: #323232;
    font-weight: 900;
    margin-bottom: 25px;
    margin-top: 0px; }
  .home-page .newsletter p {
    font-weight: 100;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    font-family: "Roboto", sans-serif; }
  .home-page .newsletter .news {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: row;
        flex-direction: row; }
    .home-page .newsletter .news input {
      padding: 20px 30px;
      border-radius: 5px;
      border: none;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px; }
    .home-page .newsletter .news .btn-arrow {
      border: 2px solid #fff;
      line-height: 0.7;
      padding: 15px 25px;
      border-radius: 5px;
      background-color: #1abc9c;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px; }
    .home-page .newsletter .news img {
      height: 25px; }
  @media (max-width: 1200px) {
    .home-page .newsletter {
      padding-right: 20px;
      padding-left: 20px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-pack: center;
          justify-content: center; }
      .home-page .newsletter .news {
        padding-right: 0;
        padding-left: 0; }
        .home-page .newsletter .news input {
          width: 100%; }
        .home-page .newsletter .news .btn-arrow {
          width: 80px; }
      .home-page .newsletter h1 {
        font-size: 30px; } }

.home-page .partner {
  padding: 100px 0 80px 0;
  background-color: #e9f0fd; }
  .home-page .partner h1 {
    line-height: 0.8;
    text-align: center;
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    color: #323232;
    font-weight: 900;
    margin-bottom: 28px;
    margin-top: 0; }
  .home-page .partner .slick-slide {
    margin: 0 27px; }
  .home-page .partner .slick-list {
    margin: 0 -27px; }
  .home-page .partner .logos {
    padding-right: 220px;
    padding-left: 220px; }
    .home-page .partner .logos .slick-next, .home-page .partner .logos .slick-prev {
      height: 90px;
      width: 90px;
      background-color: #1abc9c;
      z-index: 1;
      opacity: 0.65;
      transition: all 0.5s;
      height: 179px;
      width: 70px; }
      @media (max-width: 1230px) {
        .home-page .partner .logos .slick-next, .home-page .partner .logos .slick-prev {
          background-color: transparent; } }
      @media (max-width: 570px) {
        .home-page .partner .logos .slick-next, .home-page .partner .logos .slick-prev {
          display: none !important; } }
      .home-page .partner .logos .slick-next:before, .home-page .partner .logos .slick-prev:before {
        content: ''; }
      .home-page .partner .logos .slick-next:hover, .home-page .partner .logos .slick-prev:hover {
        opacity: 1; }
    .home-page .partner .logos .slick-next {
      right: 0px; }
    .home-page .partner .logos .slick-prev {
      left: 0px; }
    @media (max-width: 570px) {
      .home-page .partner .logos {
        padding-left: 30px;
        padding-right: 30px; } }
    .home-page .partner .logos img {
      border: 1px solid #1abc9c;
      max-height: 180px; }
  @media (max-width: 1200px) {
    .home-page .partner {
      padding-right: 30px;
      padding-left: 30px; }
      .home-page .partner h1 {
        font-size: 30px; }
      .home-page .partner img {
        min-height: 78px; } }

.home-page .latest-news {
  background-color: #fff;
  padding: 80px 245px 80px 245px; }
  .home-page .latest-news h1 {
    line-height: 0.8;
    margin-top: 0;
    text-align: center;
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    color: #323232;
    font-weight: 900; }
  .home-page .latest-news .news {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center; }
    .home-page .latest-news .news .read-more {
      width: 350px;
      margin-right: 30px; }
      .home-page .latest-news .news .read-more:last-of-type {
        margin-right: 0px; }
      .home-page .latest-news .news .read-more p {
        font-weight: 100;
        font-size: 16px;
        color: #515151; }
      .home-page .latest-news .news .read-more .line {
        width: 140px;
        border: 2px solid #1abc9c;
        margin-left: 0; }
      .home-page .latest-news .news .read-more .btn-read {
        font-weight: 100;
        width: 160px;
        border-radius: 3px;
        background-color: #1abc9c;
        color: #fff;
        border: none;
        height: 50px; }
      .home-page .latest-news .news .read-more .img {
        width: 350px;
        height: 260px;
        background-size: cover;
        background-position: center center; }
        .home-page .latest-news .news .read-more .img.img1 {
          background-image: url("../../../app/assets/img/logos/blog1.jpg"); }
        .home-page .latest-news .news .read-more .img.img2 {
          background-image: url("../../../app/assets/img/logos/blog2.jpg"); }
        .home-page .latest-news .news .read-more .img.img3 {
          background-image: url("../../../app/assets/img/logos/blog3.jpg"); }
  @media (max-width: 1140px) {
    .home-page .latest-news {
      padding-right: 30px;
      padding-left: 30px; }
      .home-page .latest-news .news {
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); }
        .home-page .latest-news .news .read-more {
          display: -ms-grid;
          display: grid;
          -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
              grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
          margin-bottom: 50px; }
      .home-page .latest-news h1 {
        font-size: 30px; } }
  @media (max-width: 570px) {
    .home-page .latest-news .news .read-more {
      width: 100%; }
      .home-page .latest-news .news .read-more .img {
        width: 100%; } }

.footer {
  padding: 100px 245px 0 245px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../../app/assets/img/logos/harta.png");
  background-color: #2d3237; }
  .footer h1 {
    text-align: center;
    color: #fff;
    font-size: 48px; }
    @media (max-width: 1200px) {
      .footer h1 {
        font-size: 30px; } }
  .footer .getintouch {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center; }
    .footer .getintouch .mart {
      width: 980px;
      margin-right: 20px; }
      .footer .getintouch .mart h2 {
        font-weight: 100;
        color: #fff;
        font-size: 72px;
        margin-bottom: 30px;
        font-family: "Roboto", sans-serif; }
        .footer .getintouch .mart h2 span {
          color: #1abc9c; }
      .footer .getintouch .mart h4, .footer .getintouch .mart p {
        font-weight: 100;
        margin-bottom: 25px;
        color: #fff;
        font-family: "Roboto", sans-serif; }
      .footer .getintouch .mart h6 {
        font-weight: 100;
        font-size: 14px;
        margin: 0px;
        margin-top: 0;
        color: #fff;
        font-family: "Roboto", sans-serif; }
        .footer .getintouch .mart h6:last-of-type {
          margin-bottom: 20px; }
        .footer .getintouch .mart h6 span {
          color: #1abc9c; }
      .footer .getintouch .mart .social-media button {
        margin-right: 10px;
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
        margin-bottom: 100px;
        height: 30px;
        width: 30px; }
        .footer .getintouch .mart .social-media button:last-of-type {
          margin-right: 0; }
        .footer .getintouch .mart .social-media button:hover {
          background-color: #1abc9c;
          transition: background 0.5s; }
      @media (max-width: 1500px) {
        .footer .getintouch .mart {
          width: 100%; }
          .footer .getintouch .mart h2 {
            font-size: 40px; } }
    .footer .getintouch .contact-us form {
      margin-top: 80px; }
      .footer .getintouch .contact-us form input:focus, .footer .getintouch .contact-us form .textarea textarea:focus {
        color: #1abc9c;
        border: 1px solid #1abc9c;
        outline: #1abc9c; }
      .footer .getintouch .contact-us form input {
        background-color: transparent;
        color: #fff;
        height: 50px;
        margin-bottom: 30px;
        margin-right: 30px;
        font-size: 18px;
        padding: 10px 20px;
        border: 1px solid #fff; }
        @media (max-width: 1500px) {
          .footer .getintouch .contact-us form input {
            width: 100%; } }
      .footer .getintouch .contact-us form .textarea {
        margin-bottom: 30px; }
        .footer .getintouch .contact-us form .textarea textarea {
          background-color: transparent;
          color: #fff;
          height: 113px;
          width: 595px;
          padding: 10px 20px; }
          @media (max-width: 1500px) {
            .footer .getintouch .contact-us form .textarea textarea {
              width: 100%; } }
      .footer .getintouch .contact-us form .send input {
        background-color: #1abc9c;
        font-size: 12px;
        height: 50px;
        width: 150px;
        border: none; }
      @media (max-width: 1500px) {
        .footer .getintouch .contact-us form {
          margin-top: 0; } }
    @media (max-width: 1500px) {
      .footer .getintouch {
        padding-left: 0px;
        padding-right: 0px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: center;
            justify-content: center; } }
  .footer .rectangle {
    height: 80px;
    background-color: #000;
    margin-right: -245px;
    margin-left: -245px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center; }
    .footer .rectangle h6 {
      font-weight: 100;
      color: #fff;
      font-size: 16px;
      margin-top: 30px; }
    .footer .rectangle span {
      color: #1abc9c; }
    @media (max-width: 1500px) {
      .footer .rectangle {
        padding-left: 30px;
        padding-right: 30px;
        margin-right: -30px;
        margin-left: -30px; } }
  @media (max-width: 1500px) {
    .footer {
      padding-left: 30px;
      padding-right: 30px; } }

.transparent-btn {
  background-color: transparent;
  border: 2px solid #1abc9c;
  color: #fff;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 14px 28px;
  line-height: 0.8; }

.cart-buttons-wrapper {
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.5s;
  height: 266px;
  margin: 10px 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .cart-buttons-wrapper:hover {
    opacity: 1; }
  .cart-buttons-wrapper .add {
    color: #fff;
    background-color: #323232;
    height: 50px;
    font-size: 14px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: row;
        flex-direction: row;
    padding-right: 14px;
    padding-left: 10px;
    width: 166px;
    border: 1px solid #fff; }
    .cart-buttons-wrapper .add img {
      margin-right: 10px;
      height: 25px; }
  .cart-buttons-wrapper .cart-buttons-grup {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center; }
    .cart-buttons-wrapper .cart-buttons-grup button {
      background-color: transparent;
      border: 1px solid #fff;
      height: 50px;
      width: 50px;
      margin-bottom: 5px;
      margin-right: 8px;
      transition: background 0.5s; }
      .cart-buttons-wrapper .cart-buttons-grup button:last-of-type {
        margin-right: 0px; }
      .cart-buttons-wrapper .cart-buttons-grup button:hover {
        background-color: #1abc9c; }

@font-face {
  font-family: 'Font-Name';
  src: url("../fonts/font-name.eot");
  src: url("../fonts/font-name.eot?#iefix") format("embedded-opentype"), url("../fonts/font-name.woff") format("woff"), url("../fonts/font-name.ttf") format("truetype"), url("../fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
